#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-c .mbr-header__text {
  color: #000000;
}
#msg-box4-c .mbr-header__subtext {
  color: #000000;
}
#msg-box4-c .mbr-article {
  color: #000000;
}
#msg-box4-e .mbr-header__text {
  color: #000000;
}
#msg-box4-e .mbr-header__subtext {
  color: #000000;
}
#msg-box4-e .mbr-article {
  color: #000000;
}
#msg-box4-f .mbr-header__text {
  color: #000000;
}
#msg-box4-f .mbr-header__subtext {
  color: #000000;
}
#msg-box4-f .mbr-article {
  color: #000000;
}
#ext_menu-m .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-m .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-t .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content1-w P {
  text-align: left;
}
#content1-11 DIV {
  color: #777777;
}
#content1-12 DIV {
  color: #777777;
}
